html,body{
    padding:0;margin: 0;
    width:100%;height: 100%;
    font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
}
*{
	list-style: none;
	text-decoration: none;
	
}
ul{
	padding:0;margin: 0;
}
/*.swiper-container{
	width: 100%;height: 100%;
}*/
/*.swiper-wrapper{
	width: 100%;height: 100%;
}*/
/*.swiper-slide{
	width: 100%;height: 100%;
	background: #fff;
}*/
.nav{
	width: 100%;height: 0.6rem;
	background: #f33;
}
.nav .nav-txt{
	width: 100%;height: 100%;
	padding: 0 0.3rem;
}
.nav-txt li{
	padding: 0 0.3rem;
	float: left;font-size: 0.4rem;
	line-height: 0.6rem;
	color: #fff;
}
.banner{
	width: 100%;height: 3.8rem;
}
.banner img{
	width: 100%;height: 3.8rem;
}
.content{
	width: 100%;
	/*background: #007AFF;*/
}
.content .con{
	width: 100%;height: 100%;
	
}
.con li{
	width:100%;height: 1.9rem;
	border-bottom: 1px solid #e5e5e5;
	padding:0.3rem;box-sizing: border-box;

}
.con li .img{
    width: 27%;height: 1.4rem;
	float: left;margin-right: .2rem;
    overflow: hidden;
    position: relative;
}
.con li .img img{
	width: 1.86rem;height: 1.4rem;
}
.con li .info{
	overflow: hidden;height: 1.4rem;
    padding-bottom: 4px;
}
.con li .info .title{
	width: 100%;height: 1rem;
	font-size: 0.4rem;
	color: #404040;
    line-height: .42rem;
}
.con li .info .tit-bottom{
	width: 100%;height: 0.4rem;
	font-size: 0.3rem;
	color: #888;
    line-height: .42rem;
}
.info .tit-bottom div{
	float: left;text-align: center;
}
.info .tit-bottom .time{
	margin-right: 2.5rem;
}

.neirong{
	width: 100%;padding: 0 0.3rem;
	box-sizing: border-box;
}
.neirong-title{
	width: 6.9rem;height: 2rem;
	/*background: red;*/ 
}
.neirong-title h1{
	font-size: 0.52rem;color: #404040;
}
.neirong-title h2{
	margin: 0 0 .12rem;
    font-size: .28rem;
    color: #888;
    font-weight: 400;
}
.neirong-title h2 .nei-part{
	padding-left: .2rem;
}
.neirong .text{
	font-size: .36rem;
    color: #404040;
}
.neirong .text p{
	text-indent: 2em;
    text-align: justify;
    line-height: 1.5em;
    padding: .3rem 0;
}
.neirong .photo{
	text-align: center;
    padding: .3rem 0;
}
.neirong .photo img{
    max-width: 100%;
    display: block;
    margin: auto;
}








